/* Sliders */


@media screen and (max-width: 479px) {
    .carousel-caption {
        top: 20%;
        bottom: auto;
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .carousel-caption {
        top: 20%;
        bottom: auto;
    }
}

@media screen and (min-width: 641px) {
    .carousel-caption {
        top: 40%;
        bottom: auto;
    }
}

.s-main-title {
    color: #fff;
}

.s-main-details {
    color: #fff;
}

.s-img {
    object-fit: cover;
}

.overlay {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;

    background-color: #1D1D1D;
    z-index: 0;
}

/* Course */
.c-main-title {
    color: #1D1D1D;
}

.c-main-details {
    color: #777777;
}

.card-body .card-title {
    color: #444444;
}

.card-body .details {
    color: #777777;
}

/* Faq */
.accordion-item {
    margin-bottom: 20px;
}

/* Faq END */

/* Counter */
.counter {
    background-color: #F4FAFD;
}

.counter-title {
    color: #1D1D1D;
}

.counter-details {
    color: #777777;
}

.counters h2 {
    color: #1D1D1D;
}

.counters p {
    color: #777777;
}

/* Counter END */
/* Footer */
footer {
    background-color: #161616;
    color: #fff;
}