/* Crousel Modify */
/* 
.carousel-caption-armschool {
  
  
} */

/* Coures */
.c-main-title{
    color: #1D1D1D;
}
.c-main-details{
    color: #777777;
}
.card-body .card-title {
    color: #444444;
}

.card-body .details {
    color: #777777;
}